/* BLACK #1C1C1C */
/* LAVA  #ED613B */
/* BLUE  #0078BD */
/* SAND  #D6B887 */

html {
    font-size: 1.2em !important; 
}

h1, h2 {
    color: #D6B887; 
}

.footnotes-sep {
    @apply mt-20 opacity-10;
}

.footnotes {
    @apply text-sm opacity-75;
}

.footnote-backref {
    display: none;
}
 
.slidev-vclick-target {
    transition: all 300ms ease;
}
  
small {
    display: block;
    text-align: center;
    font-size: .75em;
    color: #cccccc;
}

hr.dashed {
    border: 0;
    border-top: 1px solid rgba(120, 120, 120, .5);;
}

.custom-footnote {
    margin-top: 5px !important;
}

.remove-par-m {
    font-size: 16px;
    margin:  0px !important;
    padding: 0px !important;
}

.remove-par-m > p {
    font-size: 16px;
    margin:  5px !important;
    padding: 5px !important;
}

.example-title {
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
    margin-top: 5px;
    padding: 2px 15px;
    background-color: #212121;
    border-radius: 5px;
}